link(rel='shortcut icon', type='image/vnd.microsoft.ico', href=`${config.iconPath}favicon.svg`)
link(rel='apple-touch-icon', href=config.siteUrl + `${config.iconPath}apple_touch_icon.png`)
link(rel='apple-touch-icon', sizes='72x72', href=config.siteUrl + `${config.iconPath}apple_touch_icon_72_72.png`)
link(rel='apple-touch-icon', sizes='114x114', href=config.siteUrl + `${config.iconPath}apple_touch_icon_114_114.png`)
link(rel='apple-touch-icon', sizes='144x144', href=config.siteUrl + `${config.iconPath}apple_touch_icon_144_144.png`)
link(rel='apple-touch-icon', sizes='152x152', href=config.siteUrl + `${config.iconPath}apple_touch_icon_152_152.png`)
link(rel='apple-touch-icon', sizes='180x180', href=config.siteUrl + `${config.iconPath}apple_touch_icon_180_180.png`)
