meta(property='og:locale', content=config.og.locale)
meta(property='og:type', content=config.og.type)
meta(property='og:site_name', content=config.og.siteName)
meta(property='og:title', content=config.og.meta.common.title)
meta(property='og:description', content=config.og.meta.common.description)
meta(property='og:image', content=config.og.image)
meta(property='og:url', content=config.og.url)

meta(name='twitter:card', content=config.og.card)
meta(name='twitter:site', content=config.og.siteName)
meta(name='twitter:title', content=config.og.meta.common.title)
meta(name='twitter:description', content=config.og.meta.common.description)
meta(name='twitter:image:src', content=config.og.image)
